body {
  background-color: #272822;
  margin: 0;
  width: 100%;
}
menu {
  margin: 0;
  height: 50px;
  background-color: #ffffff;
  padding-right: 40px;
  font-family: "Lucida Sans Typewriter", "Lucida Console", Monaco,
    "Bitstream Vera Sans Mono", monospace;
}
menu img {
  width: 50px;
  float: left;
}
menu div {
  margin: 15px;
  float: left;
  color: black;
}
menu nav {
  float: right;
}
menu nav ul {
  list-style-type: none;
  margin: 15px;
  padding: 0;
}

menu nav ul li {
  display: inline;
}
menu nav ul li a {
  color: black;
  text-decoration: none;
  margin: 20px;
}
header {
  width: 100%;
}
header img {
  width: 200px;
}

header div {
  color: #ffffff;
  font-family: "Lucida Sans Typewriter", "Lucida Console", Monaco,
    "Bitstream Vera Sans Mono", monospace;
  width: 600px;
  margin: 0 auto;
  text-align: center;
}
